{% extends "layout.html" %}

{% block content %}
<br>
<h3 style="color:white">{{header}}</h3>
<br>
<script>
    function loginToBroker() {
        window.location.href = "/broker/add/1"
    }
</script>
<div class="container">
    <div class="col-md-12 bg-light text-right">
        <button class="btn btn-outline-light float-end" onClick="loginToBroker()">
        Amend Broker
        </button>
    </div> 
    
    <div class="col-md-12 bg-light text-right">
        <button class="btn btn-outline-light float-end" onClick="loginToBroker()">
            Delete Broker
        </button>
    </div>
    <div class="col-md-12 bg-light text-right">
        <button class="btn btn-outline-light float-end" onClick="loginToBroker()">
            Deactivate Broker
        </button>
    </div>
    <div class="col-md-12 bg-light text-right">
        <button class="btn btn-outline-light float-end" onClick="loginToBroker()">
           Test Connection
        </button>
    </div>
    <div class="col-md-12 bg-light text-right">
        <button class="btn btn-outline-light float-end" onClick="loginToBroker()">
            Login
        </button>
    </div>
</div>

<br><br><br><br>
 


{% endblock content %}