{% extends "layout.html" %}

{% block content %}
<br><br><br><br><br><br>
<div style="float:left;">
    
</div>
<center>
<div class="content-section-login div-back-color size-modify " >
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <br>
            <legend class="border-bottom mb-4"> Login to Algo Trader</legend>
            <br>
            <div class="form-group-1" >
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.email.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br><br>
            <div class="form-group">
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <br>
        <center>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-light") }}
            </div>
        </center>
        <br>
        <center>
            <small class = "text-muted ml-2">
                <a href ="{{ url_for('reset_password_request_api') }}">Forgot Password?</a>
            </small>
        </center>
    </form>

</div>
</center>
{% endblock content %}