{% extends "layout.html" %}

{% block content %}
<br>
<h3 style="color:white">My Brokers</h3>
<br>
<script>
    function addBroker() {
        window.location.href =  "/broker/add"
    }

    function logoutBroker(brokerID) {
            window.location.href = "/broker/logout" + "?brokerID="  + brokerID
        }

    function loginBroker(brokerID, brokerName, loginMethod) {
            var url = "{{ url_for('login_broker_api')}}"
            var data = {"brokerID": brokerID ,
                        "brokerName": brokerName,
                        "loginMethod" : loginMethod
        };
            $.post(url, {data:data},
                function (data, status, xhr) {
                    console.log(data.redirect)
                    if (data.redirect) {
                        console.log("Amogh",data)
                        if (loginMethod != 'api_with_broker_portal'){
                            window.location.href = data.redirect + "?brokerName="+ brokerName + "&brokerId=" + brokerID + "&loginMethod=" + data.login_method;
                        }else{
                            window.location.href = data.redirect
                        }
                    } else {
                        alert(JSON.stringify(data));
                    }
                },
                'json'
            );
        }
</script>
<div class="container">
        <div class="col-md-12 bg-light text-right">
            <button class="btn btn-outline-light float-end" onClick="addBroker()">
                Add Broker
            </button>
        </div>
</div>

<br><br><br><br>


<table class="table table-bordered table-hover table-dark table-responsive">
    <thead class="thead-dark"   >
        <tr>
            <th style="text-align:center" scope="col">Broker id</th>
            <th style="text-align:center" scope="col">Broker Name</th>
            <th style="text-align:center" scope="col">Status</th>
            <th style="text-align:center" scope="col">Test Connection</th>
            <th style="text-align:center" scope="col">Login Method</th>
            <th style="text-align:center" scope="col">Auto Login</th>
            <th style="text-align:center" scope="col">Amend</th>
            <th style="text-align:center" scope="col">Deactivate</th>
            <th style="text-align:center" scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>

        {% if brokers|length  > 0 %}
            {% for broker in brokers %}
            <tr>
                {% set bId, bName, status = broker.get('broker_id'), broker.get('broker_name'), broker.get('status') %}

                <td style="text-align:center"><a href="{{ url_for('broker_enquiry_api',broker_id = broker.get('broker_id')) }}">{{ bId }}</a></td>
                <td style="text-align:center">{{ broker.get('broker_name') }}</td>
                <td style="text-align:center">{{ broker.get('status') }}</td>
                <td style="text-align:center"> 
                    <button class="btn btn-outline-light disabled" onClick="loginBroker()">
                        Test Connection
                    </button> 
                </td>
                <td style="text-align:center"> 
                    {% if status == "Logged in" %}
                        <button class="btn btn-outline-light " onClick="logoutBroker('{{bId}}')">
                            Log out
                        </button>
                    {% else %}
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item dropdown-menu-end dropdown-menu-dark" href="#" onClick="loginBroker('{{bId}}','{{bName}}', 'api_with_broker_portal')">With API and Brokers Portal</a></li>
                                <li><a class="dropdown-item dropdown-menu-end dropdown-menu-dark" href="#" onClick="loginBroker('{{bId}}','{{bName}}', 'creds_with_enc_token')">Without API and With Encryption Token</a></li>
                                <li><a class="dropdown-item dropdown-menu-end dropdown-menu-dark" href="#" onClick="loginBroker('{{bId}}','{{bName}}', 'creds_without_enc_token')">Without API and With Credentials</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    
                </td>

                <td style="text-align:center">{{ "No" }} </td>
                <td style="text-align:center">
                    <button class="btn btn-outline-light disabled" onClick="loginBroker('{{bId}}','{{bName}}', 'creds')">
                        Amend
                    </button>
                </td>
                <td style="text-align:center">
                    <button class="btn btn-outline-light disabled" onClick="loginBroker('{{bId}}','{{bName}}', 'creds')">
                        Deactivate
                    </button>
                </td>
                <td style="text-align:center">
                    <button class="btn btn-outline-light disabled" onClick="loginBroker('{{bId}}','{{bName}}', 'creds')">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

{% if brokers|length == 0 %}
    <center>
    <p>No broker connected</p> <br>
    <div class="container">
            <button class="btn btn-outline-light" onClick="addBroker()">
                Add Broker
            </button>
    </div>
    </center>
{% endif %}
{% endblock content %}

