{% extends "layout.html" %}

{% block content %}
<br>
<h3>Brokers list page</h3>
<br>
<script>
    function loginToBroker() {
        window.location.href =  "/broker/add"
    }
</script>
<div class="container">
        <div class="col-md-12 bg-light text-right">
            <button class="btn btn-outline-dark float-end" onClick="loginToBroker()">
                Add Broker
            </button>
        </div>
</div>

<br><br><br><br>


<table class="table table-bordered table-hover table-dark table-responsive">
    <thead class="thead-dark"   >
        <tr>
            <th style="text-align:center" scope="col">Broker id</th>
            <th style="text-align:center" scope="col">Broker Name</th>
            <th style="text-align:center" scope="col">Status</th>

        </tr>
    </thead>
    <tbody>
        {% for broker in brokers %}
        <tr>
            <td style="text-align:center">{{ broker.get('broker_id') }}</td>
            <td style="text-align:center">{{ broker.get('broker_name') }}</td>
            <td style="text-align:center">{{ broker.get('status') }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}