<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        {% if session['user'] %}
            <a class="navbar-brand" href="{{ url_for('dashboard_api')}}">Algo Trader</a>
        {% else %}
            <a class="navbar-brand" href="{{ url_for('home_api')}}">Algo Trader</a>
        {% endif %}
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            {% if session['user'] %}
            <ul class="nav navbar-nav">
                
                <li class="nav-item">
                    <a href="#" class="nav-link">Marketplace</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('my_brokers_api')}}" class="nav-link">Broker Details</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Backtesting</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <a href="#" class="dropdown-item">Create Strategy</a>
                        <a href="#" class="dropdown-item">Backtest basket</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">My Strategies</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">My Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Risk Management</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Calculators</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <a href="#" class="dropdown-item">Margin Calculator</a>
                        <a href="#" class="dropdown-item">Brokerage Calculator</a>
                        <a href="#" class="dropdown-item">Returns Calculator</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Miscellaneous</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <a href="#" class="dropdown-item">Download Instruments</a>
                        <a href="#" class="dropdown-item">Trading Holidays</a>
                        <a href="#" class="dropdown-item">Black swan days</a>
                        <a href="#" class="dropdown-item">Black listed stocks</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Stocks</a>
                </li>
            </ul>
            {% endif %}
            {% if session['user'] %}
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Nifty</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Bank Nifty</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Fin Nifty</a>
                </li>
            </ul>
            {% endif %}
            {% if session['user'] %}
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard_api') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Positions</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Holdings</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Funds</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Alerts</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Console</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Notifications</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{session['user']}}</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <a href="{{ url_for('my_profile_api') }}" class="dropdown-item">My profile</a>
                        <a href="#" class="dropdown-item">Admin</a>
                        <a href="#" class="dropdown-item">Credits</a>
                        <a href="#" class="dropdown-item">Features</a>
                        <a href="{{ url_for('about_us_api') }}" class="dropdown-item">About us</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('logout_api') }}" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sign_up_api') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_api') }}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>